@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

h1, h2, h3, p {
  margin: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

//UTILITIES
@import "mixins";
@import "variables";
@import "flexOptions";


// PAGES
@import "Landing";
@import "ViewDetail";


//COMPONENTS
@import "./components/navbar";
@import "./components/nav-cart";
@import "./components/jumbo-tron";
@import "./components/carousel";
@import "./components/movie-card";
@import "./components/call-to-action";
